<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Task:</strong>
  <%= @comment.task_id %>
</p>

<%= link_to 'Edit', edit_task_comment_path(@task, @comment) %> |
<%= link_to 'Back', task_comments_path(@task) %>
