<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.email %>
</p>

<h2><%= link_to 'Comments', task_comments_path(@task) %></h2>
<% for comment in @task.comments %>
  <ul>
    <li><%= comment.comment %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Add comment', task_comments_path(@task) %> |
<%= link_to 'Back', tasks_path %>
